@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <p class="text-danger">Access denied!</p>

    <a asp-controller="Home" asp-action="Index">Main page</a>

    @if (ViewBag.ReturnUrl != null)
    { 
        <a href="/@ViewBag.ReturnUrl">Back</a>
    }
</div>