<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="contacts">
        <li class="contact">Lorem ipsum dolor sit.</li>
        <li class="contact">+19999999</li>
        <li class="contact">testemail@gmail.com</li>
    </div>
</body>
</html>
